* {
    font-family: monospace;
    color: slateblue;
    padding: 5px 10px 5px 10px;
}

hr {
    border-top: 1px salmon dashed;
    border-left: none;
}

nav li {
    display: inline-block;
}

ul {
    padding: 10px;
    position: absolute;
    right: 40px;
    top: 20px;
}

li, a {
    list-style-type: none;
    text-decoration: none;
}

header li:hover, nav li:hover {
    text-decoration: underline;
    color: darkslateblue;
}

p {
    font-size: 1rem;
}

.active-page {
    font-weight: bold;
}

.example {
    background-color: rgb(225, 248, 248);
    width: fit-content;
    color: darkslateblue;
}

.example li {
    text-decoration: none;
}